@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?32497690');
  src: url('../font/fontello.eot?32497690#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?32497690') format('woff2'),
       url('../font/fontello.woff?32497690') format('woff'),
       url('../font/fontello.ttf?32497690') format('truetype'),
       url('../font/fontello.svg?32497690#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?32497690#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-stop:before { content: '\e900'; } /* '' */
.icon-ok:before { content: '\e901'; } /* '' */
.icon-down-big:before { content: '\e902'; } /* '' */
.icon-left-big:before { content: '\e903'; } /* '' */
.icon-right-big:before { content: '\e904'; } /* '' */
.icon-up-big:before { content: '\e905'; } /* '' */
.icon-angle-circled-left:before { content: '\e906'; } /* '' */
.icon-angle-circled-right:before { content: '\e907'; } /* '' */
.icon-angle-circled-up:before { content: '\e908'; } /* '' */
.icon-angle-circled-down:before { content: '\e909'; } /* '' */
.icon-left-circled:before { content: '\e910'; } /* '' */
.icon-right-circled:before { content: '\e911'; } /* '' */
.icon-up-circled:before { content: '\e912'; } /* '' */
.icon-down-circled:before { content: '\e913'; } /* '' */
.icon-ok-circled:before { content: '\e914'; } /* '' */
.icon-docs:before { content: '\e915'; } /* '' */
.icon-doc:before { content: '\e916'; } /* '' */
.icon-doc-text:before { content: '\e917'; } /* '' */
.icon-user-md:before { content: '\e918'; } /* '' */
.icon-plus-squared:before { content: '\e919'; } /* '' */
.icon-mobile:before { content: '\e920'; } /* '' */
.icon-angle-double-left:before { content: '\e921'; } /* '' */
.icon-angle-double-right:before { content: '\e922'; } /* '' */
.icon-angle-double-up:before { content: '\e923'; } /* '' */
.icon-angle-double-down:before { content: '\e924'; } /* '' */
.icon-minus-squared:before { content: '\e925'; } /* '' */
.icon-down:before { content: '\e926'; } /* '' */
.icon-left:before { content: '\e927'; } /* '' */
.icon-right:before { content: '\e928'; } /* '' */
.icon-up:before { content: '\e929'; } /* '' */
.icon-calendar-plus-o:before { content: '\e930'; } /* '' */
.icon-map-o:before { content: '\e931'; } /* '' */
.icon-book:before { content: '\e932'; } /* '' */
.icon-circle:before { content: '\e933'; } /* '' */
.icon-phone-squared:before { content: '\e934'; } /* '' */
.icon-down-dir:before { content: '\e935'; } /* '' */
.icon-up-dir:before { content: '\e936'; } /* '' */
.icon-play-circled:before { content: '\e937'; } /* '' */
.icon-play:before { content: '\e938'; } /* '' */
.icon-pause:before { content: '\e939'; } /* '' */
.icon-cd:before { content: '\e940'; } /* '' */
.icon-dollar:before { content: '\e941'; } /* '' */
.icon-camera:before { content: '\e942'; } /* '' */
.icon-right-circle:before { content: '\e943'; } /* '' */
.icon-left-circle:before { content: '\e944'; } /* '' */
.icon-up-circle:before { content: '\e945'; } /* '' */
.icon-down-circle:before { content: '\e946'; } /* '' */
.icon-healthgrades:before { content: '\e947'; } /* '' */
.icon-map-marker:before { content: '\e948'; } /* '' */
.icon-ok-circle:before { content: '\e949'; } /* '' */
.icon-google:before { content: '\e950'; } /* '' */
.icon-minus-circled:before { content: '\e951'; } /* '' */
.icon-plus-circled:before { content: '\e952'; } /* '' */
.icon-dot-circled:before { content: '\e953'; } /* '' */
.icon-localmed:before { content: '\e954'; } /* '' */